body {
    background: #edf4fd;
}
button {
    border-radius: 12px !important;
}

.header__logo__img {
    height: 45px;
}

.des__title{
    font-size: 60px;
}

.ads__img img{
    border-radius: 12px !important;
}

.ads__text__element h2{
    font-size: 50px;
    color: blueviolet;
    font-weight: bold;
}
.ads__text__element p{
    color: lightseagreen;
}

.course {
    background-color: white;
    border-radius: 12px !important;
}
